.root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    padding: 0 2rem;
    white-space: nowrap;
    background-color: #2e7dd1;
    color: #fff;
}

.exampleCollections {
    display: flex;
    flex-direction: row;
}

.exampleInverse {
    background-color: #383a3d;
    color: #fff;
}
